@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.about {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  background-color: #ffffff;
}
.about__text {
  display: flex;
}
.about__title {
  font-family: "Myriad Pro Light";
  padding: 75px 140px;
  font-size: 70px;
  font-weight: 400;
  line-height: 45px;
}
.about__title-grey {
  color: #9d9d9d;
  font-size: 35px;
  font-weight: 500;
  margin-left: 10px;
}
.about__title-border_bottom {
  border-bottom: 2px solid #9d9d9d;
  width: 117px;
  height: 1px;
  margin: 10px 0 0 145px;
}
.about__description {
  width: 597px;
  height: 192px;
  color: #9d9d9d;
  font-size: 15px;
  font-weight: 400;
  padding: 40px 0 10px 0;
  margin: 10px;
  text-align: justify;
}
.about__description-i {
  font-size: 16px;
  color: #000000;
  font-style: italic;
}
.about__border-left {
  border-left: 2px solid #9d9d9d;
  padding-left: 10px;
  line-height: 15px;
  height: 150px;
  margin-top: 60px;
}
.about__delineation {
  width: 885px;
  margin: 0 auto;
  display: flex;
}
.about__delineation_section {
  width: 231px;
  text-align: center;
  padding: 80px 40px;
  font-family: myriad-pro, sans-serif;
}
.about__delineation_section_img {
  position: relative;
  width: 57px;
  height: 57px;
}
.about__delineation_section_img_gamepad {
  width: 30px;
  height: 20px;
  position: absolute;
  margin-top: 18px;
  margin-left: -43px;
}
.about__delineation_section-title {
  padding-top: 15px;
  font-size: 18px;
  font-family: "Myriad Pro Light";
  font-weight: 400;
  color: #000000;
}
.about__delineation_section-text {
  width: 240px;
  font-size: 13px;
  color: #9d9d9d;
  line-height: normal;
  margin-top: 15px;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.features {
  background-color: white;
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Myriad Pro Light";
}
.features__title {
  font-size: 25px;
  padding: 100px 0 0 81px;
  font-weight: 400;
}
.features__title::first-letter {
  color: #ffc600;
}
.features .menu {
  display: flex;
  padding: 0 20px 40px;
  margin: 20px 0 0 60px;
  font-weight: 400;
}
.features .menu__item {
  list-style-type: none;
  margin-right: 20px;
}
.features .menu__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.features .menu__link-border {
  border-bottom: 2px solid #ffc600;
  width: 43px;
  margin: 0 auto;
}
.features__gallery {
  width: 1198px;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.background {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;
}
.background__text {
  font-family: myriad-pro, sans-serif;
  color: #ffffff;
  padding-left: 80px;
  margin: 0 0 30px 0;
}
.background__text::first-letter {
  color: #ffc600;
}
.background__text-size_h {
  font-size: 120px;
  padding-top: 40px;
}
.background__text-size_p {
  font-size: 16px;
  font-weight: 400;
}
.background__text-link {
  color: #ffc600;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}
.background__text-link:hover {
  color: #ffffff;
}

.text-color {
  color: #ffc600;
}

.head {
  font-family: myriad-pro, sans-serif;
  width: 100%;
  padding-bottom: 400px;
  max-width: 1198px;
  background: url("../img/head.png") top/cover no-repeat;
  margin: 0 auto;
}
.head__title {
  color: #ffffff;
  padding: 70px 46px;
  font-size: 50px;
}
.head__menu {
  padding: 0 20px;
  margin-left: 18px;
}
.head__list {
  display: flex;
}
.head__list_item {
  list-style-type: none;
  margin-right: 35px;
}
.head__list_link {
  text-decoration: none;
  color: #ffc600;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.head__list_link:hover {
  color: #ffffff;
}
.head__list_link-active {
  color: #ffffff;
  border-bottom: 2px solid #ffc600;
}

.text-color {
  color: #ffc600;
}

/*# sourceMappingURL=style.css.map */
