@import "utils/variables";
@import "about/about";
@import "features/features";
@import "strategic-process/strategic-procces";
@import "service-provided/service-provided";
@import "our-team/our-team";
@import "testimonials/testimonials";
@import "blogs/blog";
@import "contact-us/contact-us";
@import 'footer/footer';


body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  background-color: $color-1;
  padding-bottom: 40px;
}

.section__title {
  font-size: 30px;
  font-weight: 400;

  &:first-letter {
    color: $color-2;
    font-size: 35px;
  }
}

.main {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;

  &__text {
    font-family: $font-family;
    color: $color-1;
    padding-left: 80px;
    margin: 0 0 30px 0;

    &::first-letter {
      color: $color-2;
    }
  }


  &__text-size_h {
    font-size: 120px;
    padding-top: 40px;
  }

  &__text-size_p {
    font-size: 16px;
    font-weight: 400;
  }

  &__text-link {
    color: $color-2;
    text-decoration: none;
    font-weight: 400;
    transition: 0.2s;
  }

  &__text-link:hover {
    color: $color-1;
  }
}


.text-color {
  color: $color-2;
}


.head {
  font-family: $font-family;
  padding-bottom: 400px;
  background: url("../img/head.png") top/cover no-repeat;

  &__title {
    color: $color-1;
    padding: 70px 46px;
    font-size: 50px;
  }

  &__menu {
    padding: 0 20px;
    margin-left: 18px;
  }

  &__list {
    display: flex;
  }

  &__list_item {
    list-style-type: none;
    margin-right: 35px;
  }

  &__list_link {
    text-decoration: none;
    color: $color-2;
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s;
  }

  &__list_link:hover {
    color: $color-1;
  }

  &__list_link--active {
    color: $color-1;
    border-bottom: 2px solid $color-2;
  }
}












