@import "../utils/variables";


.features {
  background-color: white;
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  padding-bottom: 40px;

  &__title {
    font-size: 25px;
    padding: 100px 0 0 81px;
  }

  .menu {
    display: flex;
    padding: 0 20px 40px;
    margin: 20px 0 0 60px;

    &__item {
      list-style-type: none;
      margin-right: 20px;
    }

    &__link {
      color: $color-4;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;

      &-border {
        border-bottom: 2px solid $color-2;
        width: 43px;
        margin: 0 auto;
      }
    }
  }

  &__gallery {
    width: 1198px;
    display: flex;
  }
}