@import "../utils/variables";
@import "../mixin/mixin";

.about {

  &__text {
    display: flex;

    @include _1024 {
      flex-direction: column;
    }
  }

  &__title {
    font-family: $font-family-2;
    margin: 70px 140px;
    line-height: 45px;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      max-width: 117px;
      margin-left: 130px;
      background: $color-3;
    }

    @include _1024 {
      padding-top: 40px;
      margin: 0 auto;
    }
  }

  &__title--grey {
    color: $color-3;
    font-size: 35px;
    margin-left: 10px;
  }

  &__title--black {
    font-size: 70px;

    &::first-letter {
      color: $color-2;
    }
  }

  &__description {
    width: 100%;
    max-width: 597px;
    height: 192px;
    color: $color-3;
    font-size: 15px;
    font-weight: 400;
    padding: 40px 10px 10px 10px;
    margin: 10px;
    text-align: justify;

    &:before {
      content: '';
      display: block;
      height: 140px;
      margin-top: 10px;
      width: 1px;
      background: $color-3;
      position: absolute;
      margin-left: -20px;

      @include _640 {
        height: 180px;
      }
      
      @include _500 {
        display: none;
      }
    }

    &_font--weight {
      font-size: 16px;
      color: $color-4;
      font-style: italic;
    }

    @include _1024 {
      margin: 0 auto;
    }

    @include _640 {
      max-width: 450px;
    }

    @include _425 {
      margin-bottom: 40px;
      max-width: 400px;
    }

    @include _375 {
      max-width: 355px;
    }

    @include _320 {
      margin-bottom: 50px;
      max-width: 300px;
    }
  }

  &__delineation {
    margin: 0 auto 50px auto;
    justify-content: center;
    display: flex;

    @include _640 {
      flex-direction: column;
    }

    &_section {
      text-align: center;
      padding: 80px 40px;
      font-family: $font-family;

      @include _640 {
        margin: 0 auto;
        padding-bottom: 0;
      }
    }

    &_section--img {
      position: relative;
      width: 100%;
      max-width: 57px;
      height: 57px;
      padding-bottom: 20px;
    }

    &_section--img-gamepad {
      width: 100%;
      max-width: 30px;
      height: 20px;
      position: absolute;
      margin-top: 18px;
      margin-left: -43px;
    }

    &_section--title {
      font-size: 18px;
      font-family: $font-family-2;
      font-weight: 400;
      color: $color-4;
      padding-bottom: 15px;

      @include _640 {
        font-size: 20px;
      }
    }

    &_section--text {
      width: 100%;
      max-width: 240px;
      font-size: 13px;
      color: $color-3;
      line-height: normal;
      font-weight: 400;
      font-style: italic;
      padding-bottom: 15px;

      @include _640 {
        font-size: 15px;
      }
    }
  }
}
