@import "features/features";


body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 40px;
}

.main {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;
}