@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.about__text {
  display: flex;
}
.about__title {
  font-family: "Myriad Pro Light";
  margin: 70px 140px;
  line-height: 45px;
}
.about__title--grey {
  color: #9d9d9d;
  font-size: 35px;
  margin-left: 10px;
}
.about__title--black {
  font-size: 70px;
}
.about__title--black::first-letter {
  color: #ffc600;
}
.about__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  max-width: 117px;
  margin-left: 130px;
  background: #9d9d9d;
}
.about__description {
  width: 100%;
  max-width: 597px;
  height: 192px;
  color: #9d9d9d;
  font-size: 15px;
  font-weight: 400;
  padding: 40px 0 10px 10px;
  margin: 10px;
  text-align: justify;
}
.about__description:before {
  content: "";
  display: block;
  height: 140px;
  margin-top: 10px;
  width: 1px;
  background: #9d9d9d;
  position: absolute;
  left: 650px;
}
.about__description_font--weight {
  font-size: 16px;
  color: #000000;
  font-style: italic;
}
.about__delineation {
  margin: 0 auto 50px auto;
  justify-content: center;
  display: flex;
}
.about__delineation_section {
  text-align: center;
  padding: 80px 40px;
  font-family: myriad-pro, sans-serif;
}
.about__delineation_section--img {
  position: relative;
  width: 100%;
  max-width: 57px;
  height: 57px;
  padding-bottom: 20px;
}
.about__delineation_section--img-gamepad {
  width: 100%;
  max-width: 30px;
  height: 20px;
  position: absolute;
  margin-top: 18px;
  margin-left: -43px;
}
.about__delineation_section--title {
  font-size: 18px;
  font-family: "Myriad Pro Light";
  font-weight: 400;
  color: #000000;
  padding-bottom: 15px;
}
.about__delineation_section--text {
  width: 100%;
  max-width: 240px;
  font-size: 13px;
  color: #9d9d9d;
  line-height: normal;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 15px;
}

@font-face {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Light.woff") format("woff"), url("MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.features {
  padding: 50px 0 40px 0;
  font-family: "Myriad Pro Light";
}
.features__title {
  padding-left: 80px;
}
@media (max-width: 768px) {
  .features__title {
    text-align: center;
    padding: 0;
  }
}
.features__menu {
  padding: 0 20px 40px 0;
  margin: 20px 0 0 60px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .features__menu {
    margin: 0;
    padding: 0;
  }
}
.features__menu_list {
  display: flex;
}
@media (max-width: 768px) {
  .features__menu_list {
    flex-direction: column;
  }
}
.features__menu_link {
  list-style-type: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .features__menu_link {
    margin: 20px 0 20px 0;
    text-align: center;
  }
}
.features__menu_item {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: 0.2s;
}
.features__menu_item:hover {
  border-bottom: 2px solid #ffc600;
}
.features__menu_item--active {
  border-bottom: 2px solid #ffc600;
}
.features__gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.features__gallery-img {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .features__gallery-img {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .features__gallery-img {
    width: 33.333%;
  }
}
@media (max-width: 640px) {
  .features__gallery-img {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .features__gallery-img {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.main {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;
}

/*# sourceMappingURL=style-adaptive.css.map */
