@import "../utils/variables";

.strategic-process {
  font-family: $font-family-2;
  margin-bottom: 50px;

  &__title {
    padding-left: 80px;
    margin-bottom: 26px;
  }

  &__text {
    width: 100%;
    max-width: 1055px;
    margin: 0 auto;
    font-weight: 400;
    font-family: $font-family;
    color: $color-3;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 45px;
  }

  &__text--font-weight {
    font-size: 14px;
    color: $color-4;
    font-style: italic;
  }

  &__gallery {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    &:nth-child(even) {
      flex-direction: row-reverse;

    }
  }

  &__gallery--position {
    display: flex;
  }

  &__gallery--text {
    margin: 30px 20px 0 25px;
    font-family: $font-family-2;
    font-weight: 400;
    display: block;
    width: 100%;
    max-width: 400px;
  }


  &__gallery--h {
    font-size: 30px;
    margin-bottom: 20px;

    &::first-letter {
      font-size: 45px;
    }
  }

  &__gallery--font-weight {
    font-size: 14px;
    color: $color-4;
    font-style: italic;
    margin-bottom: 25px;
  }

  &__gallery--p {
    font-size: 14px;
    color: $color-3;
  }

}