@import "../utils/variables";
@import "../mixin/mixin";


.features {
  padding: 50px 0 40px 0;
  font-family: $font-family-2;

  &__title {
    padding-left: 80px;

    @include _768 {
      text-align: center;
      padding: 0;
    }
  }

  &__menu {
    padding: 0 20px 40px 0;
    margin: 20px 0 0 60px;
    font-weight: 400;

    @include _768 {
      margin: 0;
      padding: 0;
    }
  }

  &__menu_list {
    display: flex;

    @include _768 {
      flex-direction: column;
    }
  }

  &__menu_link {
    list-style-type: none;
    margin-right: 20px;

    @include _768 {
      margin: 20px 0 20px 0;
      text-align: center;
    }
  }

  &__menu_item {
    color: $color-4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      border-bottom: 2px solid $color-2;
    }

    &--active {
      border-bottom: 2px solid $color-2;
    }
  }


  &__gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  &__gallery-img {
    max-width: 100%;

    @include _1200 {
      width: 25%;
    }

    @include _1024 {
      width: 33.333%;
    }

    @include _640 {
      width: 50%;
    }

    @include _320 {
      width: 100%;
    }
  }
}



