@import "../utils/variables";


.features {
  padding: 50px 0 40px 0;
  font-family: $font-family-2;

  &__title {
    padding-left: 80px;
  }

  &__menu {
    padding: 0 20px 40px 0;
    margin: 20px 0 0 60px;
    font-weight: 400;
  }

  &__menu_list {
    display: flex;
  }

  &__menu_link {
    list-style-type: none;
    margin-right: 20px;
  }

  &__menu_item {
    color: $color-4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: 0.2s;
  }

  &__menu_item:hover {
    border-bottom: 2px solid $color-2;
  }

  &__menu_item-active {
    border-bottom: 2px solid $color-2;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  &__gallery--img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {

  .features {
    background-color: aquamarine;

    &__gallery {
      max-width: 100%;
      flex: 0 0 33.333%;
    }

    &__gallery--img {
      width: 100%;
      max-width: 25%;
    }
  }
}

@media (max-width: 1024px) {
  .features {
    background-color: #ffc600;

    &__gallery--img {
      width: 100%;
      max-width: 33.333%;
    }
  }
}

@media (max-width: 640px) {

  .features {
    background-color: #2046b3;

    &__gallery--img {
      width: 100%;
      max-width: 50%;
    }
  }
}

@media (max-width: 425px) {

  .features {

    &__title {
      text-align: center;
      padding: 0;
    }

    &__menu {
      margin: 0;
      padding: 0;
    }

    &__menu_list {
      display: block;
    }

    &__menu_link {
      margin: 20px 0 20px 0;
      text-align: center;
    }
  }
}

@media (max-width: 320px) {

  .features {

    &__gallery--img {
      width: 100%;
      max-width: 100%;
    }
  }
}
